<div class="sr_footer">	  
{pc:content action="category" catid="1" num="15" siteid="$siteid" order="listorder ASC"}
{loop $data $r}
<a href="{$r[url]}" target="_blank">{$r[catname]}</a> |  
{/loop}
{/pc}
<a href="{APP_PATH}index.php?m=link" target="_blank">友情链接</a>
<p class="cp">Powered by <strong><a href="http://www.shuzhubao.com" target="_blank">数猪宝</a></strong>  &copy; {date('Y', SYS_TIME)} <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备16003534号</a> <img src="{IMG_PATH}copyright.gif"/>
</p></div>
      </div>
    </div>
<!--[if IE 6]>
<script type="text/javascript" src="{JS_PATH}nsz.js"></script>
<script type="text/javascript">
	nsz.fix('.sr_logo img');
</script>
<![endif]-->
</script>
<script src="http://s4.cnzz.com/z_stat.php?id=1257697853&web_id=1257697853" language="JavaScript">
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?2199a6312197e50e536988200055bca4";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>
