<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}default_blue.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
<script type="text/javascript" src="{JS_PATH}search_common.js"></script>
</head>
<body>
<div class="body-top">
    <div class="content">
    	     <a class="blue" target="_self" href="http://www.shuzhubao.com/"  onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.shuzhubao/');" title="设为首页">设为首页&nbsp</a>					
	     <a title="将网站加入到你的收藏夹" href="javascript:window.external.AddFavorite(location.href,document.title)"class="save blue">收藏</a>
            <div class="login lh24 blue"><!--<a href="{APP_PATH}index.php?m=content&c=rss&siteid={get_siteid()}" class="rss ib">rss</a>--><span class="rt"><script type="text/javascript">document.write('<iframe src="{APP_PATH}index.php?m=member&c=index&a=mini&forward='+encodeURIComponent(location.href)+'&siteid={get_siteid()}" allowTransparency="true"  width="500" height="24" frameborder="0" scrolling="no"></iframe>')</script></span></div>
    

    </div>
</div>
<div class="header">
	<div class="logo"><a href="{siteurl($siteid)}/"><img src="{IMG_PATH}logo_pig.jpg" width="110" height="70" alt=""/></a></div>
    <!--<div class="banner"><script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=1"></script></div>-->
    <!--<div class="bk3"></div>-->
<div class="nav">
    <div class="nav-bar">
    	<map>
    	{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
			<ul class="nav-site">
			<li class="line">|</li>
			<li><a href="{siteurl($siteid)}"><span>网站首页</span></a></li>
			{loop $data $r}
			{php $index++;}
			<li class="line">|</li>
			{if 4>=$index}
			<li><a href="{$r[url]}"><span>{$r[catname]}</span></a></li>
			{/if}
			 {/loop}
			 </ul>
                     {php $data=array_splice($data,4)} 
                     <ul class="nav-site">
                     {loop $data $r}
                     <li class="line">|</li>
			{pc:content action="category" catid="$r[catid]" num="15" siteid="$siteid" order="listorder ASC"}
			{php $cat_num=count($data)}
			{if $cat_num>1}
			<li><a href="{$r[url]}"><span>{$r[catname]}</span></a></li>
			{/if}
			{if $cat_num==1}
			{loop $data $v}
			<li><a href="{$v[url]}"><span>{$r[catname]}</span></a></li>
			{/loop}
			{/if}
			{if $cat_num==0}
			<li><a href="{$r[url]}"><span>{$r[catname]}</span></a></li>
			{/if}
			{/loop}
			</ul>
			
			
        {/pc}
		{php echo runhook('glogal_menu')}
        </map>
    </div>     

        
    <!--
	{if $top_parentid}
    <div class="subnav">
		{pc:content action="category" catid="$top_parentid" num="15" siteid="$siteid" order="listorder ASC"}
		       {php $cat_num=count($data)}
		       {if $cat_num>1}
		       <br/>
			{loop $data $r}
			<a href="{$r[url]}">{$r[catname]}</a><span> | </span>
			{/loop}
			{/if}
        {/pc}
    </div>
	{/if}
	-->
    </div>
    {if $top_parentid}
    <div class="submenu">	
    {pc:content action="category" catid="$top_parentid" num="15" siteid="$siteid" order="listorder ASC"}
        <ul>	
    			{loop $data $r}
			<li ><a href="{$r[url]}">{$r[catname]}</a></li>
			{/loop}
       </ul>
    {/pc}
    </div>
    	{/if}
    	<!--
    <div class="col-auto">
      <a data-type="13" data-tmpl="350x100" data-tmplid="212" data-rd="2" data-style="2" data-border="1" href="#"></a>
    </div>
    -->
    <div class="bk3"></div>
    
 <div class="duilian duilian_left">
   <div class="duilian_con">
   	 <a data-type="2" biz-keyword="充气娃娃 真人" data-tmpl="220x290" data-tmplid="9" data-rd="2" data-style="2" data-border="1" href="#"></a>
   </div>
   <a href="#" class="duilian_close">关闭</a>
 </div>
 <div class="duilian duilian_right">
   <div class="duilian_con">
     <a data-type="2" biz-keyword="性感情趣内衣睡衣 诱惑 露乳" data-tmpl="170x290" data-tmplid="9" data-rd="2" data-style="2" data-border="1" href="#"></a>
   </div>
   <a href="#" class="duilian_close">关闭</a>
 </div>
 <p style="height:1px;"></p>
</div>


